.faq-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(33,37,41);
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.faq-heading {
  text-align: center;
  margin-bottom: 40px;
}

.faq-title {
  font-size: 20px;
  font-weight: bold;
  color: whitesmoke;
  margin: 0;
  font-family: 'Open Sans', Arial, sans-serif;

}

.faq-description {
  font-family: 'Open Sans', Arial, sans-serif;

  font-size: 15px;
  color: whitesmoke;
  line-height: 1.5;
  margin-top: 20px;
}

.faq-description::first-letter {
  font-size: 25px;
  font-weight: bold;
  /* float: left; */
  /* margin-right: 10px; */
  color: whitesmoke;
}

.faq-description::after {
  content: "";
  display: block;
  clear: both;
}

.faq-description br {
  line-height: 20px;
}

.search-bar-container {
  padding: 20px;
}

.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.search-input {
  font-family: 'Open Sans', Arial, sans-serif;

  flex-grow: 1;
  height: 50px;
  margin-right: 10px;
  padding: 0 20px;
  border: none;
  border-radius: 30px;
  background-color: #f2f2f2;
  font-size: 15px;
  color: #555;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-button {
  padding: 0;
  border-radius: 50%;
  background-color: #000000;
  color: rgb(33,37,41);
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.search-button svg {
  fill: #fff;
}

.search-button:hover {
  background-color: #ffd300;
}

.clear-button {
  padding: 0;
  border-radius: 50%;
  background-color: #ccc;
  color: #000000;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

.clear-button:hover {
  background-color: #ff0000;
}

.clear-button::before {
  font-size: 20px;
}

.faq-list {
  margin-top: 40px;
}

.faq-item {
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.faq-question {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.faq-question h3 {
  margin-bottom: 0;
  flex-grow: 1;
  color: #333;
  font-weight: bold;
  font-size: 14px;
}

.faq-arrow {
  width: 12px;
  height: 12px;
  border-top: 2px solid #333;
  border-right: 2px solid #333;
  transform: rotate(45deg);
  transition: transform 0.3s ease-in-out;
  margin-left: 10px;
}

.faq-arrow.expanded {
  transform: rotate(135deg);
}

.faq-answer {
  display: none;
  margin-top: 10px;
  color: #555;
  font-size: 16px;
  line-height: 1.5;
}

.faq-answer.expanded {
  display: block;
}

.search-error {
  margin-top: 20px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.search-error p {
  margin: 0;
  font-size: 16px;
  color: #333;
}

.search-error-icon {
  font-size: 24px;
  margin-bottom: 10px;
  color: red;
}

/* Hide the clear button in the search input */
.search-input::-ms-clear,
.search-input::-ms-reveal {
  display: none;
}

.search-input::-webkit-search-cancel-button {
  display: none;
}

.search-input::-webkit-search-decoration,
.search-input::-webkit-search-results-button,
.search-input::-webkit-search-results-decoration {
  display: none;
}
.imgHead {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.imgHead img {
  width: 100%;
  max-width: 1800px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}